@import "tailwindcss";

@theme {
  /* Basic Colors */
  --color-secondary: #171717;
  --color-primary: #f6d20c;
  --color-primary-alpha-20: rgba(246, 210, 12, 0.2);
  --color-danger: #e53537;
  --color-danger-alpha-20: rgba(229, 53, 55, 0.2);
  --color-success: #49aa19;
  --color-success-alpha-20: rgba(73, 170, 25, 0.2);

  /* Base Colors */
  --color-black-950: #0a0a0a;
  --color-black-900: #101010;
  --color-black-850: #171717;
  --color-black-500: #646464;
  --color-white: #ffffff;

  --color-primary-100: #fcf1b4;
  --color-primary-200: #fbea8f;
  --color-primary-300: #f9e15c;
  --color-primary-400: #f8db3d;
  --color-primary-500: #f6d20c;
  --color-primary-600: #d1b41a;
  --color-primary-700: #ad9618;
  --color-primary-800: #8a7816;
  --color-primary-900: #665913;
  --color-primary-1000: #4d4311;
  --color-primary-1100: #3b340e;
  --color-primary-1200: #2d280c;
  --color-primary-1300: #211e0b;

  --color-neutral-100: #bbbbbb;
  --color-neutral-200: #9a9a9a;
  --color-neutral-300: #6c6c6c;
  --color-neutral-400: #4f4f4f;
  --color-neutral-500: #232323;
  --color-neutral-600: #212122;
  --color-neutral-700: #1f1f21;
  --color-neutral-800: #1d1d1f;
  --color-neutral-900: #1b1b1d;
  --color-neutral-1000: #19191b;
  --color-neutral-1100: #171719;
  --color-neutral-1200: #141416;
  --color-neutral-1300: #111113;

  --color-danger-100: #fce8e9;
  --color-danger-200: #f7c4c7;
  --color-danger-300: #f0969b;
  --color-danger-400: #e66168;
  --color-danger-500: #d42230;
  --color-danger-600: #b51d29;
  --color-danger-700: #961822;
  --color-danger-800: #7a141c;
  --color-danger-900: #611016;
  --color-danger-1000: #4d1216;
  --color-danger-1100: #3f1519;
  --color-danger-1200: #311114;
  --color-danger-1300: #260d0e;

  --color-success-100: #e1f2d8;
  --color-success-200: #c1e5ae;
  --color-success-300: #9ed682;
  --color-success-400: #73bd4f;
  --color-success-500: #3e9d0f;
  --color-success-600: #34850d;
  --color-success-700: #2b6e0b;
  --color-success-800: #235909;
  --color-success-900: #1b4507;
  --color-success-1000: #1a3614;
  --color-success-1100: #1e3d17;
  --color-success-1200: #183112;
  --color-success-1300: #122410;

  /* Background Colors */
  --color-bg-base: var(--color-black-950);
  --color-bg-base-alpha: var(--color-black-950-alpha-10);
  --color-bg-surface-900: var(--color-black-900);
  --color-bg-surface-850: var(--color-black-850);
  --color-bg-gray: var(--color-black-500);
  --color-bg-primary: var(--color-bg-primary);
  --color-bg-primary-alpha-20: var(--color-bg-primary-alpha-20);
  --color-bg-surface-invert: var(--color-white);
  --color-bg-surface-invert-alpha-5: var(--color-white-alpha-5);
  --color-bg-surface-invert-alpha-20: var(--color-white-alpha-20);
  --color-bg-danger: var(--color-danger);
  --color-bg-danger-alpha-20: var(--color-danger-alpha-20);
  --color-bg-success: var(--color-success);
  --color-bg-success-alpha-20: var(--color-success-alpha-20);

  /* Text colors */
  --color-text-base: var(--color-white);
  --color-text-base-alpha-5: var(--color-white-alpha-5);
  --color-text-alpha-20: var(--color-white-alpha-20);
  --color-text-secondary: var(--color-black-500);
  --color-text-primary: var(--color-primary);
  --color-text-primary-alpha-20: var(--color-primary-alpha-20);
  --color-text-surface: var(--color-black-850);
  --color-text-invert: var(--color-black-950);
  --color-text-invert-alpha-10: var(--color-black-950-alpha-10);
  --color-text-danger: var(--color-danger);
  --color-text-danger-alpha-20: var(--color-danger-alpha-20);
  --color-text-success: var(--color-success);
  --color-text-success-alpha-20: var(--color-success-alpha-20);

  /* Border colors */
  --color-border-dark: var(--color-black-900);
  --color-border-dark-alpha-10: var(--color-black-950-alpha-10);
  --color-border-surface: var(--color-black-850);
  --color-border-secondary: var(--color-black-500);
  --color-border-primary: var(--color-primary);
  --color-border-primary-alpha-20: var(--color-primary-alpha-20);
  --color-border-white: var(--color-white);
  --color-border-white-alpha-5: var(--color-white-alpha-5);
  --color-border-white-alpha-20: var(--color-white-alpha-20);
  --color-border-danger: var(--color-danger);
  --color-border-danger-alpha-20: var(--color-danger-alpha-20);
  --color-border-success: var(--color-success);
  --color-border-success-alpha-20: var(--color-success-alpha-20);

  /* Border radius */
  --radius-xs: 4px;

  /* Font family */
  --font-unbounded: var(--font-unbounded);
  --font-geologica: var(--font-geologica);

  /* BUTTON */
  /* Primary */
  --color-button-bg-primary-filled: var(--color-primary-500);
  --color-button-bg-primary-filled-hover: var(--color-primary-400);
  --color-button-bg-primary-filled-active: var(--color-primary-600);
  --color-button-text-primary-filled: var(--color-black-950);
  --color-button-icon-primary-filled: var(--color-primary-950);

  --color-button-bg-primary-soft: var(--color-primary-1300);
  --color-button-bg-primary-soft-hover: var(--color-primary-1200);
  --color-button-bg-primary-soft-active: var(--color-primary-1100);
  --color-button-text-primary-soft: var(--color-primary-500);
  --color-button-icon-primary-soft: var(--color-primary-500);
  --color-button-border-primary-soft: var(--color-primary-500);

  --color-button-bg-primary-ghost: transparent;
  --color-button-bg-primary-ghost-hover: var(--color-primary-1200);
  --color-button-bg-primary-ghost-active: var(--color-primary-1100);
  --color-button-text-primary-ghost: var(--color-primary-500);
  --color-button-text-primary-ghost-hover: var(--color-primary-400);
  --color-button-text-primary-ghost-active: var(--color-primary-300);
  --color-button-icon-primary-ghost: var(--color-primary-950);
  --color-button-icon-primary-ghost-hover: var(--color-primary-400);
  --color-button-icon-primary-ghost-active: var(--color-primary-300);

  --color-button-border-primary: var(--color-primary-500);
  --color-button-border-primary-hover: var(--color-primary-400);
  --color-button-border-primary-active: var(--color-primary-300);

  /* Secondary */
  --color-button-bg-secondary-filled: var(--color-neutral-500);
  --color-button-bg-secondary-filled-hover: var(--color-neutral-400);
  --color-button-bg-secondary-filled-active: var(--color-neutral-600);
  --color-button-text-secondary-filled: var(--color-white);
  --color-button-icon-secondary-filled: var(--color-white);

  --color-button-bg-secondary-soft: var(--color-neutral-1300);
  --color-button-bg-primary-soft-hover: var(--color-primary-1200);
  --color-button-bg-secondary-soft-active: var(--color-neutral-1100);
  --color-button-text-secondary-soft: var(--color-white);
  --color-button-icon-secondary-soft: var(--color-white);
  --color-button-border-secondary-soft: var(--color-neutral-500);

  --color-button-bg-secondary-ghost: transparent;
  --color-button-bg-secondary-ghost-hover: var(--color-neutral-1200);
  --color-button-bg-secondary-ghost-active: var(--color-neutral-1100);
  --color-button-text-secondary-ghost: var(--color-white);
  --color-button-text-secondary-ghost-hover: var(--color-neutral-400);
  --color-button-text-secondary-ghost-active: var(--color-neutral-300);
  --color-button-icon-secondary-ghost: var(--color-white);
  --color-button-icon-secondary-ghost-hover: var(--color-neutral-400);
  --color-button-icon-secondary-ghost-active: var(--color-neutral-300);

  --color-button-border-secondary: var(--color-neutral-400);
  --color-button-border-secondary-hover: var(--color-neutral-300);
  --color-button-border-secondary-active: var(--color-neutral-200);

  /* Danger */
  --color-button-bg-danger-filled: var(--color-danger-500);
  --color-button-bg-danger-filled-hover: var(--color-danger-400);
  --color-button-bg-danger-filled-active: var(--color-danger-600);
  --color-button-text-danger-filled: var(--color-white);
  --color-button-icon-danger-filled: var(--color-white);

  --color-button-bg-danger-soft: var(--color-danger-1300);
  --color-button-bg-danger-soft-hover: var(--color-danger-1200);
  --color-button-bg-danger-soft-active: var(--color-danger-1100);
  --color-button-text-danger-soft: var(--color-danger-500);
  --color-button-icon-danger-soft: var(--color-danger-500);
  --color-button-border-danger-soft: var(--color-danger-500);

  --color-button-bg-danger-ghost: transparent;
  --color-button-bg-danger-ghost-hover: var(--color-danger-1200);
  --color-button-bg-danger-ghost-active: var(--color-danger-1100);
  --color-button-text-danger-ghost: var(--color-danger-500);
  --color-button-text-danger-ghost-hover: var(--color-danger-400);
  --color-button-text-danger-ghost-active: var(--color-danger-300);
  --color-button-icon-danger-ghost: var(--color-danger-500);
  --color-button-icon-danger-ghost-hover: var(--color-danger-400);
  --color-button-icon-danger-ghost-active: var(--color-danger-300);

  --color-button-border-danger: var(--color-danger-500);
  --color-button-border-danger-hover: var(--color-danger-400);
  --color-button-border-danger-active: var(--color-danger-300);

  /* Success */
  --color-button-bg-success-filled: var(--color-success-500);
  --color-button-bg-success-filled-hover: var(--color-success-400);
  --color-button-bg-success-filled-active: var(--color-success-600);
  --color-button-text-success-filled: var(--color-white);
  --color-button-icon-success-filled: var(--color-white);

  --color-button-bg-success-soft: var(--color-success-1300);
  --color-button-bg-success-soft-hover: var(--color-success-1200);
  --color-button-bg-success-soft-active: var(--color-success-1100);
  --color-button-text-success-soft: var(--color-success-500);
  --color-button-icon-success-soft: var(--color-success-500);
  --color-button-border-success-soft: var(--color-success-500);

  --color-button-bg-success-ghost: transparent;
  --color-button-bg-success-ghost-hover: var(--color-success-1200);
  --color-button-bg-success-ghost-active: var(--color-success-1100);
  --color-button-text-success-ghost: var(--color-success-500);
  --color-button-text-success-ghost-hover: var(--color-success-400);
  --color-button-text-success-ghost-active: var(--color-success-300);
  --color-button-icon-success-ghost: var(--color-success-500);
  --color-button-icon-success-ghost-hover: var(--color-success-400);
  --color-button-icon-success-ghost-active: var(--color-success-300);

  --color-button-border-success: var(--color-success-500);
  --color-button-border-success-hover: var(--color-success-400);
  --color-button-border-success-active: var(--color-success-300);

  /* AVATAR */
  --color-avatar-bg-primary: var(--color-primary-1300);
  --color-avatar-content-primary: var(--color-primary-500);
  --color-avatar-border-primary: var(--color-neutral-400);

  --color-avatar-bg-secondary: var(--color-neutral-500);
  --color-avatar-content-secondary: var(--color-white);
  --color-avatar-border-secondary: var(--color-neutral-400);

  --color-avatar-bg-danger: var(--color-danger-1300);
  --color-avatar-content-danger: var(--color-danger-500);
  --color-avatar-border-danger: var(--color-neutral-400);

  --color-avatar-bg-success: var(--color-success-1300);
  --color-avatar-content-success: var(--color-success-500);
  --color-avatar-border-success: var(--color-neutral-400);
}
